<!DOCTYPE html>
<html>

<head>
    <title>books</title>
    <link rel="stylesheet" href="/styles/base.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/modules.css" />
    <link rel="stylesheet" href="/styles/reset.css" />
  </head>
</head>

<body>

    <%- include('../layout/head') %>

    <main>


        <section class="create-view container">
            <h2 class="view-title">Edit Book <%= book.id %></h2>
            <form id="update-form" action="/books/<%= book.id %>/edit-view?_method=PUT" method="post">
                <fieldset>
                    <legend>Edit Your Book</legend>
                    <input type="text" name="title" value="<%= book.title %>" placeholder="Title">
                    <input type="text" name="author" value="<%= book.author %>" placeholder="Author">
                    <textarea name="description" placeholder="Book Description" cols="30"
                        rows="10"><%= book.summary %></textarea>
                    <input type="text" name="bookshelves" value="<%= book.bookshelves %>" placeholder="Genres">

                    <!-- <input type="text" name="status" value="<%= books.status %>" placeholder="Status"> -->
                    <button type="submit">Update This Book</button>
                </fieldset>
            </form>
        </section>

    </main>
</body>

</html>