<!DOCTYPE html>
<html lang="en">
<head>

    <%- include ('../layout/head') %>

</head>

<body>

<header>
    <header>
        <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
        
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
        
                </a>
        
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/searches/new">Search</a></li>
                    
                </ul>
            </div>
        
        </div>
        </nav>
    </header>
    <h2>My Books Search Results</h2>
</header>

<% results.forEach(book => { %>
<div class="search-results-container">
    <!-- <ul> -->
    
        <!-- <li class="search-item" display: none> -->
        <!-- <% let imageSource =  book.image_url ? book.image_url : "https://i.imgur.com/J5LVHEL.jpg" %> -->
    <!-- <img src="<%= book.image %>"> -->

    <% results.forEach( item => { %>  
        <div class="resultsContainer">
            <img src="<%= item.image %>">
            <h2>Title: <%= item.title %></h2>
            <h3>Author: <%= item.authors %></h3>
            <h4>ISBN: <%= item.isbn %></h4>
            <p>Description: <%= item.description %></p>
            <!-- <button type="submit" class="add-to-booklist">Add to BookList</button> -->  <!--this does nothing-->
    
        </div>
        <% }) %>  <!--if this stays in, then we get different books, but no add button-->

    <form action="/books" method="POST">
        <input type="hidden" name="title" value='<%= book.title %>' />
        <input type="hidden" name="author" value='<%= book.author %>' />
        <input type="hidden" name="description" value='<%= book.summary %>'/>
        <input type="hidden" name="isbn" value='<%= book.isbn %>'/>
        <input type="hidden" name="image_url" value='<%= book.image_url %>'/>
        <button type="submit" class="add-to-booklist">Add to BookList</button>
    </form>
        <!-- </li> -->
   <!--uncomment these-->
    <!-- </ul> -->
</div>
<% }) %>  






</body>
</html>