<!DOCTYPE html>
<html lang="en">

<head>
<%- include('../layout/head.ejs') %>

</head>

<body>

<header>
    <nav class="navbar navbar-default" role="navigation">           
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/searches/new">Search</a></li> 
        </ul>    
    </nav>

    <h2>Books Result</h2>

</header>

    <% results.forEach( book => { %>  
        <div class="resultsContainer">
            <img src="<%= book.image_url %>">
            <h2>Title: <%= book.title %></h2>
            <h3>Author: <%= book.author %></h3>
            <p>ISBN: <%= book.isbn %></p>
            <p>Summary: <%= book.summary %></p>

    <form action="/books" method="POST">
        <input type="hidden" name="author" value='<%= book.author %>' />
        <input type="hidden" name="title"   value='<%= book.title %>' />
        <input type="hidden" name="isbn" value='<%= book.isbn %>'/>
        <input type="hidden"  name="image_url" value="<%= book.image_url %>" />
        <input type="hidden"  name="summary" value='<%= book.summary %>'/>
        <button type="submit" class="add-to-booklist">Add to BookList</button> 
    </form>
       
        </div>
<% }) %> 
<!-- </li>

</ul> -->


<footer> </footer>

</body>
</html>